<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app" style="background: #fff">
    <template v-for="item in haha">
        <p>我是{{item}}</p>
    </template>
    <el-button type="primary">汪世博</el-button>
    <el-date-picker
            v-model="value2"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right">
    </el-date-picker>

    <el-tabs type="border-card" @tab-click="handleClick" v-model="activeName">
        <el-tab-pane label="用户管理">
            <div>asjdkljaskldjaksldjaklsdjlk</div>
            <button>阿萨德金坷垃时间段</button>
        </el-tab-pane>
        <el-tab-pane label="配置管理">配置管理</el-tab-pane>
        <el-tab-pane label="角色管理">角色管理</el-tab-pane>
        <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
    </el-tabs>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            haha:[1,2,3,4,5],
            value2:'',
            activeName:''
        },
        mounted(){
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            setTimeout(() => {
                loading.close();
            }, 500);
        },
        methods:{
            handleClick(tab, event){
                console.log(this.activeName)
            }
        }

    })
</script>
</body>
</html>